= form_for @dive_center do |f|
  -if @dive_center.errors.any?
    #error_explanation
      %h2= "#{pluralize(@dive_center.errors.count, "error")} prohibited your information from being saved:"
      %ul
        - @dive_center.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name, "Name"
    = f.text_field :name
  .field
    = f.label :url, "Website"
    = f.text_field :url
  .field
    = f.label :email, "Email Address"
    = f.text_field :email
  .field
    = f.label :code, "Promo code"
    = f.text_field :code
  .field
    = f.check_box :mailinglist
    = f.label :mailinglist, "Also sign up for our newsletter", {class: "dont-break", checked: true}
  .actions
    = f.submit 'Register!', :class => 'green'
